<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.joseantonio.indicadoresmovil">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <application
        android:allowBackup="true"
        android:minSdkVersion = "8"
        android:icon="@mipmap/iconito"
        android:label="Indicadores Movil"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".Indicadores"
            android:label="@string/title_activity_indicadores"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Favoritos"
            android:label="@string/title_activity_favoritos"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".GridViewActivity"
            android:label="@string/title_activity_busqueda"
            android:theme="@style/AppTheme" />
        <activity android:name=".Temas" />
        <activity
            android:name=".Ver_Indicadores"
            android:label="@string/title_activity_ver__indicadores"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Splash"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Scrolling_indicador"
            android:label="@string/title_activity_scrolling_indicador"
            android:theme="@style/AppTheme"></activity>

        <service
            android:name=".FirebaseInstanceIdService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>

        <service
            android:name=".FirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
    </application>

</manifest>